:root {
    --body-bg: #151b3c;
    --cloud-bg: #8e8e8e;
    --cloud-white: #FFFAFA
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: white !important;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10;
    margin: 10px;
    padding: 10px;
    background-color: green;
}

.container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10;
    margin: 10px;
    padding: 10px;
    background-color: blue;
    border-radius: 4px;
    box-shadow: #151b3c;
   
}


.raining-cloud {
    width: 180px;
    height: 140px;
    display: block;
    margin: 0 auto 20px;
    background-image: 
        radial-gradient(circle 25px at 25px 25px, var(--cloud-bg) 100%, transparent 0),
        radial-gradient(circle 50px at 50px 50px, var(--cloud-bg) 100%, transparent 0),
        radial-gradient(circle 25px at 25px 25px, var(--cloud-bg) 100%, transparent 0),
        radial-gradient(circle 15px at 15px 15px, var(--cloud-bg) 100%, transparent 0),
        linear-gradient(var(--cloud-bg) 50px, transparent 0);
    background-size: 50px 50px, 100px 75px, 50px 50px, 30px 32px, 136px 20px;
    background-repeat: no-repeat;
    background-position: 0px 30px, 30px 0px, 113px 29px, 147px 50px, 23px 60px;
    position: relative;
}

.raining-cloud::after {
    content: '';
    position: absolute;
    left: -2px;
    top: 75px;
    width: 2px;
    height: 6px;
    color: var(--cloud-bg);
    box-sizing: border-box;
    animation: raining-cloud 0.5s linear infinite;
    -webkit-animation: raining-cloud 0.5s linear infinite;
}

@keyframes raining-cloud {
    0% {
        box-shadow: 
            25px 0 var(--cloud-bg),
            50px 0 var(--cloud-bg),
            75px 0 var(--cloud-bg),
            100px 0 var(--cloud-bg),
            125px 0 var(--cloud-bg),
            150px 0 var(--cloud-bg),
            25px 0 var(--cloud-bg),
            50px 0 var(--cloud-bg),
            75px 0 var(--cloud-bg),
            100px 0 var(--cloud-bg),
            125px 0 var(--cloud-bg),
            150px 0 var(--cloud-bg);
    }
    50% {
        box-shadow: 
            25px 20px var(--cloud-bg),
            50px 60px rgba(255, 255, 255, 0),
            75px 30px rgba(255, 255, 255, 0),
            100px 70px rgba(255, 255, 255, 0),
            125px 40px var(--cloud-bg),
            150px 60px rgba(255, 255, 255, 0),
            25px 20px var(--cloud-bg),
            50px 30px var(--cloud-bg),
            75px 10px var(--cloud-bg),
            100px 30px var(--cloud-bg),
            125px 30px rgba(255, 255, 255, 0),
            150px 30px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 
            25px 60px rgba(255, 255, 255, 0),
            50px 60px rgba(255, 255, 255, 0),
            75px 50px rgba(255, 255, 255, 0),
            100px 70px rgba(255, 255, 255, 0),
            125px 70px rgba(255, 255, 255, 0),
            150px 60px rgba(255, 255, 255, 0),
            25px 80px rgba(255, 255, 255, 0),
            50px 80px rgba(255, 255, 255, 0),
            75px 70px rgba(255, 255, 255, 0),
            100px 60px rgba(255, 255, 255, 0),
            125px 30px rgba(255, 255, 255, 0),
            150px 30px rgba(255, 255, 255, 0);
    }
}

.nuage2{
    
    width: 180px;
    height: 140px;
    display: block;
    margin: 0 auto 50px;
    background-image: 
    radial-gradient(circle 45px at 45px 45px , var(--cloud-bg) 100%, transparent 0),
    radial-gradient(circle 65px at 65px 65px , var(--cloud-bg) 100%, transparent 0),
    radial-gradient(circle 15px at 15px 15px , var(--cloud-bg) 50%, transparent 0),
    radial-gradient(circle 45px at 25px 45px, var(--cloud-bg) 100%, transparent 0);
    background-size: 50px 50px, 100px 75px, 50px 50px, 98px 112px;
    background-repeat: no-repeat;
    background-position: 0px 25px, 30px 0px, 30px 29px, 110px -8px;
    position: absolute;
} 

.trans{
  position: relative;
 width: 500px;
  height: 100px;
  background-color: var(--body-bg);
  display: flex;
  padding: 10px;
  /*Addabackgroundcolorforvisibility*/animation: deplacer 2s ease-in-out infinite;
  -webkit-animation: deplacer 2s ease-in-out infinite;
}

@keyframes deplacer {

    from { transform: translateX(-100%) ; -webkit-transform: translateX(-100%)} ;
    to { transform: translateX(0) ; -webkit-transform: translateX(0) ; -moz-transform: translateX(0) ; -ms-transform: translateX(0) ; -o-transform: translateX(0) ; }
    
}

.calculons{

}

.cloud-sun{
    width: 180px;
    height: 140px;
    display: block;
    margin: 0 auto 20px;
    background-image: 
        radial-gradient(circle 25px at 25px 25px, var(--cloud-white) 100%, transparent 0),
        radial-gradient(circle 50px at 50px 50px, var(--cloud-white) 100%, transparent 0),
        radial-gradient(circle 25px at 25px 25px, var(--cloud-white) 100%, transparent 0),
        radial-gradient(circle 15px at 15px 15px, var(--cloud-white) 100%, transparent 0),
        linear-gradient(var(--cloud-white) 50px, transparent 0);
    background-size: 50px 50px, 100px 75px, 50px 50px, 30px 32px, 136px 20px;
    background-repeat: no-repeat;
    background-position: 0px 30px, 30px 0px, 113px 29px, 147px 50px, 23px 60px;
    position: relative;  
}